
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<ul>
    <li>@ViewBag.Animal.AnimalId</li>
    <li>@ViewBag.Animal.AnimalName</li>
    <li>@ViewBag.Animal.AnimalAge</li>
    <li>@ViewBag.Animal.SpeciesCommonName</li>
    <li>@ViewBag.Animal.SpeciesScientificName</li>

</ul>

